
@import url('https://fonts.cdnfonts.com/css/cyberjunkies'); 
@import url('https://fonts.cdnfonts.com/css/kbquietstories');
@import url('https://fonts.cdnfonts.com/css/uefa-supercup'); 
@import url('https://fonts.cdnfonts.com/css/handform'); 
@import url('https://fonts.cdnfonts.com/css/oxen-crossbow'); 

h1 {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}


.game{
    height: 100%; 
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.game_screen_level1{
    height: 95%;
    width: 100%;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    z-index: -2;
}
.game_screen_level1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -10%;
    background-image: url("./assets/spacebg.gif");
    background-repeat: repeat;
    background-size: 100% 110%;
    background-size: auto;
    background-position: center;
    z-index: -1;
}

.game_screen_level2{
    height: 95%;
    width: 100%;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    z-index: -2;
}

.game_screen_level2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -10%;
    background-image: url("./assets/forest_bg.gif");
    background-size: cover;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.9);
    mix-blend-mode: multiply;
}
.game_screen_level2 .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
    z-index: 0; /* Ensure this is above the background image */
}

.game_screen_level3{
    height: 95%;
    width: 100%;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    z-index: -2;
}
.game_screen_level3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -10%;
    background-image: url("./assets/cityBG.gif");
    background-size: cover;
    z-index: -1;
}
.game_screen_level3 .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
    z-index: 0; /* Ensure this is above the background image */
}





#player {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 80px;

    background-image: url("./assets/mainChar_front.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#player_door{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url("https://media.giphy.com/media/FoXqQO6JU3v4ZIpa4a/giphy.gif?cid=ecf05e47lwhdjd72jth0xyhc8p2sf8rg6ikzy2lb171jw9er&ep=v1_stickers_search&rid=giphy.gif&ct=s");
    background-size: cover;
}

.gameStatus{
    display: flex;
    justify-content: space-around;
    height: 5%;
    text-align: center;
    background-color: #B59F84;
    border: 2px solid black;
    overflow: auto;
    width: 100vw;
}
.gameStatus h3{
    font-size: 1.5rem;
}

.gameStatus_title{
    font-family: 'Handform', sans-serif;
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
}
#lifes_status{
    display: flex;
    
}
.life_count{
    padding-left: 1.5rem;
}
#time_status{
    display: flex;
    align-items: center;
    margin: 0 2rem;
}
#time_status h3{
    margin: 0;
}
#time_count{
    padding: 0 1.5rem 0 1.5rem;
}
#score_status{
    display: flex;
}


.inGame_Menu_button_container{
    display: flex;
    align-items: center;
}
.inGame_Menu_Btn{
    height: 5cm;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 2rem;
    color: #fff;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.inGame_Menu_Btn:hover{
    color: #000;
    background: rgb(255, 218, 87);
}
.score_status {
    display: flex;
    padding: 2rem;
}
.menu_container {
    display: flex;
    background: linear-gradient(to bottom right, #FCF9F3, #0201003f);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menu{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.47);
    background-color: #fcf9f368;
}
.menu_item{
    margin: 3rem;
}
.menu_item_button{
    width: 200px;
    height: 60px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f7f4f4;
    color: black;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #f0eeee;
    outline: none;

    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: scale(1);
}
#menu_item_button:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.25);
    background-color: #f7f3f3; 
    border: 2px solid #d8d5d5;
}
#menu_item_button:active {
    transform: scale(0.98);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}
#newGamebtn{
    color: black;
    text-decoration: none;
}
/* -------------------------------------------------------------------------------------- */
.enemies_container{
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
}
.enemy{
    position: relative;
    top: 0;
    height: 13px;
    width: 13px;
    margin: 0 2rem 0 2rem;
    background-color: white;
    flex-direction:row-reverse;
}

.howToPlayModal_container{
    display: none;
    font-family: 'PF Arma Five', sans-serif;                                                                    
    position: fixed;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    background: rgba(255, 255, 255, 1);
}
.playerMovesInstructions{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
}
.player_playerMovesInstructions li{
    margin-left: 1.5rem ;
}

.howToPlayModal_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'KBQuietStories', sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 2px 10px rgba(246, 255, 0, 0.774);
                                                
}
.howToPlayModal_title h2{
    text-align: center;
    margin: 5px 0 5px 0;
}
.dotted_line {
    width: 100%;
    border-top: 5px dashed #000;  
    height: 0;
}

.howToPlayModal{
    position: absolute;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

}
.howToPlayModal_section_container{
    display: flex;
    justify-content: space-between;
}
.howToPlayModal_section{
    width: 700px;
    padding: 20px 0 100px 40px;
    border-radius: 3rem;
}
.howToPlayModal_section_container ul{
    padding: 0 0 10px 20px;
}
.howToPlayModal_section_container li{
    font-size: 1.5rem;
    font-family: 'UEFA Supercup', sans-serif;
    padding: 5px 0 10px 20px;
    letter-spacing: 2px;                                             
}
.howToPlayModal_section h3{
    font-size: 1.5rem;
    padding: 20px 0 0 0;
    margin: 0;
    font-family: 'Handform', sans-serif;
}
.howToPlayModal_section p{
    font-weight: bold;
    display: inline;
}
/* ------------------------------------------------ */
.finalMenu_container{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px); 
    z-index: 1000;
}

#win_screen_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#win_screen{
    text-align: center;
    width: 500px;
    height: 500px;
    overflow: auto; 
    border: 2px solid black;
    border-radius: 1.5rem;
}
.win_container_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
    border-radius: 3rem;
}
#win_button_menu{
    margin: 1rem 0 1rem 0;
}

.loose_menu_container{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px); 
    z-index: 1000;
    
}
#loose_screen_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#loose_screen{
    text-align: center;
    width: 500px;
    height: 500px;
    overflow: auto; 
    border: 2px solid black;
    border-radius: 1.5rem;
}
.loose_container_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    width: 400px;
    height: 400px;
    border-radius: 3rem;
}
#loose_button_menu{
    margin: 1rem 0 1rem 0;
}


#pause_menu_container{
    display: none;
    position: fixed;
    backdrop-filter: blur(50px);
    background: linear-gradient(to bottom right, #FCF9F3, #0201003f);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.level1_menu_container h1{
    font-family: 'Cyberjunkies', sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 2px 10px rgba(246, 255, 0, 0.774);
}
.level2_menu_container h1{
    font-family: 'Cyberjunkies', sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 2px 10px rgba(246, 255, 0, 0.774);
}


#final_stats{
    display: flex;
}
#final_stats h3{
    text-align: left;
}
#final_stats span{
    text-align: left;
}
.player_stats_finalMenu{
    margin: 1rem;
}

.player_stats{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: black;
}
.player_stats h3{
    margin: 0 0.5rem;
}
.eyes {
    height: 30px;
    left: 50%;
    margin-left: -22.5px;
    position: absolute;
    width: 45px;
    top: 15px;
}
.eye {
    background: #fff;
    border-radius: 100%;
    height: 30px;
    width: 15px;
}
.iris {
    background: black;
    border-radius: 100%;
    height: 20px;
    position: absolute;
    width: 10px;
    top: 5px;
}
.leftEye { 
    float: left; 
}
.leftEye .iris { 
    left: 2.5px;
}
.rightEye {
    float: right; 
}
.rightEye .iris { 
    right: 2.5px;
}
.ghostTail {
    background-repeat: repeat-x;
    bottom: -10px;
    height: 10px;
    position: absolute;
    width: 60px;
}
.level_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ftd_style{
    font-family: 'Cyberjunkies', sans-serif;
    letter-spacing: 10px;
    text-shadow: 2px 2px 10px rgba(246, 255, 0, 0.774);
}

.valuePack_container{
    height: 650px;
    margin: 10px 50px 10px 50px;
}
.valuePack{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url("https://media2.giphy.com/media/cNZqrH5IzOG0xrlWks/giphy.gif?cid=ecf05e47gidpge7n9jr177x5tdw65esruexbsq8g7yv5rzqf&ep=v1_gifs_related&rid=giphy.gif&ct=s");
    background-size: cover;
}

.hearts_container{
    height: 650px;
    margin: 10px 50px 10px 50px;
}
.heart{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 35px;
    height: 28px;
    background-image: url("./assets/heart.png");
    background-size: cover;
}

.slow_objects_container{
    height: 650px;
    margin: 10px 50px 10px 50px;

}
.reduceSpeed{
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 35px;
    height: 38px;
    background-image: url("./assets/slowDown.png");
    background-size: cover;

}